@import url(cabecalho.css);
@import url(conteudo.css);
@import url(mapa.css);
@import url(video.css);
@import url(cadastro.css);
@import url(botoes.css);
@import url(rodape.css);

@font-face {
    font-family: wght;
    src: url(../fonte/Oswald-VariableFont_wght.ttf);
}

:root {
    --cor-primaria: #03989e;
    --cor-secundaria: #022C2F;
    --cor-terciaria: #079480;
    --branco: #FFFFFF;
    --cor-aviso: #df2525;
}

html {
    font-family: wght, sans-serif;
}

.subtitulo {
    padding: 1.5rem;
    text-align: center;
    font-size: 1.5rem;
}

.imagens {
    margin-top: 3rem;
    width: 38.75rem;
    height: 28.75rem;
    border-radius: 1rem;
    min-width: none;
    min-height: none;
    border: 0.125rem solid var(--cor-secundaria);
}

.paragrafos {
    padding: 0 5rem 3rem 5rem;
    text-align: justify;
    font-size: 1.25rem;
    width: 50%;
}

@media screen and(max-width: 768px) {
    .paragrafos {
        padding: 0;
        font-size: .5rem;
        width: auto;
    }

    .imagens {
        display: none;
    }

    .subtitulo {
        padding: .25rem;
        font-size: .75rem;
    }
}